.github, .linkedin, .inicio {
    display: flex;
    align-items: center;
}

.github img {
    width: 40px;
    height: auto;
    margin-left: 5px;
}

.linkedin img {
    width: 20px;
    height: auto;
    margin-left: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.enlace-github {
    text-decoration: none;
}

.github button, .portafolio button, .linkedin button, .inicio button {
    outline: white;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    transition: background-color 0.3s;
}

.github button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 10px rgb(255, 255, 255);
}

.enlace-portafolio {
    text-decoration: none;
}

.portafolio button:hover {
    background-color: lightblue;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 10px lightblue;
}

.enlace-linkedin {
    text-decoration: none;
}

.linkedin button:hover {
    background-color: blue;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 10px blue;
}

.enlace-inicio {
    text-decoration: none;
}

.inicio button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 4px 10px white;
}

body {
    background-color: black;
    color: white;
}
/*

para hacer que el body no tenga margenes ni padding

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    */